.box{
    width: 100px;
    height: 100px;
    background-color: darkred;
    color: white;
    padding: 20px;
}
.box2{
    width: 100px;
    height: 100px;
    background-color: darkred;
    color: white;
    padding: 10px;
    position: absolute;
}
#divClick, #panel{
    padding: 10px;
    text-align: center;
    background-color: darkkhaki;
    border: 1px solid darkolivegreen;
}
#panel{
    padding: 90px;
    display: none;
}

.color{
    color: green;
    font-size: 20px;
}
.blue{
    color: blue;
}
.red{
    color: red;
}

.important{
    font-weight: bold;
    font-size: xx-large;
}